/* google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500;1,700;1,900&family=Satisfy&display=swap');


/** typography **/

$font-size: 16px;
$primary-font: 'Satisfy', sans-serif;
$font-family: 'Roboto', sans-serif;


/**** colors ****/

$primary-color: #00284A;
$secondary-color: #B8C308;
$default-color: #292727;
$light-dark: gray;
$icon-color: #758b99;

$card-color : #EAF6F7;
$card-icon-color: #367600 !important;
















